@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
@import "_reset.scss";
@mixin flex {
    display: flex;  
}
$colors:(
    primary: black,
    secondary: #6d45f5,
);
@function color ($color-name){
    @return map-get($colors , $color-name )
};
body{
    font-family: 'Saira Semi Condensed', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(0, 0, 0);
}

.container{
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}