@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');
@import "_reset.scss";
@mixin flex {
    display: flex;  
    flex-wrap: nowrap;
}
$colors:(
    primary: black,
    secondary: #6d45f5,
    tetiary: white,
    buttonColor: #c04bc3,
);
@function color ($color-name){
    @return map-get($colors , $color-name )
};
body{
    font-family: 'Saira Semi Condensed', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(0, 0, 0);
}
.container{
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}
nav{
    @include flex();
    justify-content: space-between;
    margin-top: 10px;
    .logo{
        img{
            width: 120px;
        }
    }
    .search-bar{
        text-align: center;
        form{
            margin-top: 3px;
            input{
                height: 5vh;
                width: 600px;
                text-indent: 10px;
                font-size: 15px;
            }
            button{
                background: color(buttonColor);
                margin-left: -4px;
                margin-top: -10px;
                width: 120px;
                height: 5vh;
                border-color: transparent;
                font-weight: bold;
                color: color(tetiary);
            }
        }
    }
    .social{
        color: color(tetiary);
        margin-top: 5px;
        img{
            width: 30px;
        }
    }
}
